<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/app.css">
<head>
	<title>Your Dashboard</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>
<body>

<div class="vertical-nav bg-white" id="sidebar" style = 'width: 15%'>
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
      <div class="media-body">
        <h4 class="m-0"> {{ session['name'] }} </h4><br>
				<h5 class="m-0" style='text-align:center'> {{ session['full_workflow'] }} </h5><br>
				<form class="white" enctype="multipart/form-data" method="post" style='text-align: center; margin: 0 auto'>
					<button type="submit" name='submit_button' class="btn btn-primary padding-up" value='log_out'>Log Out</button>
				</form>
      </div>
    </div>
  </div>
</div>

<div class="notif-cell" style='text-align: right; margin: 0 auto ;width: 1200px; margin-top: 40px; margin-left: 200px'>

<div style='text-align:center; margin: 0 auto'>

	<div style='margin-bottom: 20px; text-align: center'>
	<h2 style='color: grey'> Welcome to your CompBio Dashboard </h2>
	<h4> Manage your Genomic Workflows with one click </h4>
	<p style='color:red'>

	{% with messages = get_flashed_messages(category_filter=["error"]) %}
		 {% if messages %}
				{% for message in messages %}
					 {{ message }}
				{% endfor %}
		 {% endif %}
	{% endwith %}

</p>

<p style='color:green'>

{% with messages = get_flashed_messages(category_filter=["success"]) %}
	 {% if messages %}
			{% for message in messages %}
				 {{ message }}
			{% endfor %}
	 {% endif %}
{% endwith %}


<br><br>

{% if session['valid_gene'] %}

<h4 style='color: green'> Here the feature maps for the gene: {{session['gene']}} </h4><br>
<img src="/static/images/5'UTR.png"  style='border-radius: 10px; height: 100px; width: 400px; opacity: 1'/><br><br>
<img src="/static/images/exon.png"  style='border-radius: 10px; height: 100px; width: 400px; opacity: 1'/><br><br>
<img src="/static/images/intron.png"  style='border-radius: 10px; height: 100px; width: 400px; opacity: 1'/><br><br>
<img src="/static/images/source.png"  style='border-radius: 10px; height: 100px; width: 400px; opacity: 1'/> <br><br><br>

<form class="white" enctype="multipart/form-data" method="post" style='text-align: center; margin: 0 auto'>
	<button type="submit" name='submit_button' class="btn btn-primary padding-up" value='reset_fmap'>Reset Feature Maps</button>
</form>

{% else %}
<form class="white" enctype="multipart/form-data" method="post" style= 'width: 400px; opacity: 1; text-align: center; margin: 0 auto'>
		<input required name='gene' id='gene' class="form-control" id="name" placeholder="Enter Entrez ID of Gene">
		<br>
	<button type="submit" name='submit_button' class="btn btn-primary padding-up" value='submit_gene'> Submit </button>
</form>
{% endif %}

</p>
</div> <hr>

</div> <br/><br/></div>

<div class="notifications">


</div>



<script src="/static/js/health.js"></script>
</body>
</html>
