<!DOCTYPE html>
<html>
   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/static/css/app.css">
	 <link rel="icon" href="/static/images/dna_icon.png">
   <head>
      <title>Your Dashboard</title>
      <script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
   </head>
   <body>
      <div class="vertical-nav bg-white" id="sidebar">
         <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center">
               <div class="media-body">
                  <h4 style='text-align:center'> {{ session['name'] }}'s Dashboard </h4>
                  <br>
                  <h5 class="m-0" style='text-align:center'> <b> Workflow: </b> {{ session['full_workflow'] }} </h5>
                  <br>
                  <form class="white short_form" enctype="multipart/form-data" method="post">
                     <button type="submit" name='submit_button' class="btn btn-primary padding-up" value='log_out'>Log Out</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="notif-cell white2">
         <h2> Welcome to your CompBio Dashboard </h2>
         <h4> Manage your Genomic Workflows with one click </h4>
         <p style='color:red'>
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
         </p>
         <p style='color:green'>
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
            <br><br>
         </p>
         {% if session['valid_gene'] %}
         <h4 style='color: green'> Here the feature maps for the gene: {{session['gene']}} </h4>
         <br>
         <img src="/static/images/5'UTR.png" id ='image'/><br><br>
         <img src="/static/images/exon.png"  id ='image'/><br><br>
         <img src="/static/images/intron.png" id ='image'/><br><br>
         <img src="/static/images/source.png" id ='image'/> <br><br><br>
         <form class="white" enctype="multipart/form-data" method="post">
            <button type="submit" name='submit_button' class="btn btn-primary padding-up" value='reset_fmap'>Reset Feature Maps</button>
         </form>
         {% else %}
         <form class='short_form' enctype="multipart/form-data" method="post">
            <input required name='gene' id="gene" placeholder="Enter Entrez ID of Gene"> <br> <br>
            <button type="submit" name='submit_button' class="btn btn-primary padding-up" value='submit_gene'> Submit </button>
         </form>
         {% endif %}
      </div>
      <hr>
   </body>
</html>
